body{
  font-family: Verdana, sans-serif; 
  width: 980px; 
  margin-right: auto; margin-left: auto;
  background-color: black;
}

#banner{
  /*background-image: url("drgBanner.webp");*/
  margin-right: 50px;
}

#logo, #banner{
  width: 460px; height: 215px;
}

#gameInfo{
  flex: 1;
}

.wrapper{
  display: flex;
}


