body{
  font-family: Verdana, sans-serif; 
  width: 980px; 
  margin-right: auto; margin-left: auto;
  background-color: black;
}

#banner{
  text-align: center;
  margin-right: 50px;
}

#gameInfo{
  flex: 1;
  color: white;
}

.wrapper{
  display: flex;
}


